.contacts__link {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  .font (@line-height: 24px);
  padding-bottom: 4px;
}

.contacts {
  .container();
  padding-top: 70px;
}

.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__item {
  .clearfix();
  padding-top: 17px;
  margin-bottom: 15px;
}

.contacts__type {
  float: left;
  width: 55px;
  margin-right: 18px;
  line-height: 28px;
}

.contacts__value {
  float: left;
  line-height: 28px;
}

.contacts__btn {
  width: 260px;
  margin-top: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts__map-wrapper {
  margin-top: 26px;
  position: relative;
  background-image: url(../img/icon-map-pin.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__map {
  width: 100%;
  position: relative;
}

#map {
  width: 320px;
  height: 458px;
  background-color: #F4E9D2;
  background: url(../img/icon-map-pin.svg), url("../img/map-mobile@1x.jpg");
  background-size: 67px 100px, cover;
  background-position: center, center;
  background-repeat: no-repeat;
}

@media @tablet-widths {
  .contacts__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    .clearfix();
  }
  .contacts__item {
    float: left;
    width: 50%;
    .font(@font-size: 17px,
    @line-height: 30px);
  }
  .contacts__value {
    br:nth-child(2) {
      display: none;
    }
  }
  .contacts__map-wrapper {
    margin-top: 45px;
  }
  .contacts__btn {
    width: 234px;
    margin-top: 46px;
  }
  #map {
    width: 768px;
    height: 458px;
  }
}

@media @desktop-widths {
  .contacts {
    .clearfix();
    margin-top: 110px;
  }
  .contacts__wrapper {
    padding-left: 225px;
    width: ~"calc(50% - 276px)";
  }
  .contacts__item {
    margin-top: -10px;
    width: 100%;
    float: left;
    clear: left;
    &--address {
      margin-top: 0px;
    }
  }
  .contacts__map-wrapper {
    width: ~"calc(50% - 50px)";
    float: right;
    margin-top: -340px;
    margin-right: 50px;
  }
  .contacts__btn {
    width: 234px;
    margin-top: 68px;
    margin-left: 223px;
    margin-right: 0;
  }
  #map {
    width: 525px;
    height: 458px;
  }
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  #map {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-widths) {
  #map {
    background-image: url("../img/map-tablet@1x.jpg");
  }
}

@media (min-width: @tablet-widths) and (min-resolution: 144dpi),
(min-width: @tablet-widths) and (min-resolution: 1.5dppx) {
  #map {
    background-image: url("../img/map-tablet@2x.jpg");
  }
}

@media (min-width: @desktop-widths) {
  #map {
    background-image: url("../img/map-desktop@1x.jpg");
  }
}

@media (min-width: @desktop-widths) and (min-resolution: 144dpi),
(min-width: @desktop-widths) and (min-resolution: 1.5dppx) {
  #map {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}
