.contacts__link {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  .font (@line-height: 24px);
  padding-bottom: 4px;
}

.contacts {
  .container();
  padding-top: 70px;
}

.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__item {
  .clearfix();
  padding-top: 17px;
  margin-bottom: 15px;
}

.contacts__type {
  float: left;
  width: 55px;
  margin-right: 18px;
  line-height: 28px;
}

.contacts__value {
  float: left;
  line-height: 28px;
}

.contacts__btn {
  width: 260px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts__map {
  width: 100%;
  margin-top: 50px;
}

@media @tablet-widths {
  .contacts__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    .clearfix();
  }
  .contacts__item {
    float: left;
    width: 50%;
    .font(@font-size: 17px, @line-height: 30px);
  }
  .contacts__value {
    br:nth-child(2) {
      display: none;
    }
  }
  .contacts__map {
    height: 459px;
  }
  .contacts__btn {
    width: 234px;
    margin-top: 40px;
  }
}

@media @desktop-widths {
  .contacts {
    .clearfix();
    margin-top: 170px;
  }
  .contacts__wrapper {
    padding-left: 225px;
    width: ~"calc(50% - 276px)";
  }
  .contacts__item {
    margin-top: -10px;
    width: 100%;
    float: left;
    clear: left;
  }
  .contacts__map {
    width: 50%;
    float: right;
    margin-top: -330px;
  }
  .contacts__btn {
    width: 234px;
    margin-top: 76px;
    margin-left: 223px;
    margin-right: 0;
  }
}