.form-order {
  legend {
    text-transform: uppercase;
    line-height: 16px;
    color: #63d1bb;
    font-family: "open-sans-bold";
  }
  label {
    font-size: 17px;
    line-height: 18px;
    color: #000;
    font-family: "open-sans-bold";
  }
  textarea {
    border: 2px solid #444
  }
}

.form-item__input {
  border: none;
  border-bottom: 2px solid #444;
  padding-bottom: 7px;
}