.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list-item {
  font-family: "open-sans-bold";
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  &--first {
    border-top: 1px solid #ececec;
  }
  a {
    font-size: 17px;
    text-decoration: none;
    color: #000;
    &:hover {
      opacity: 0.6
    }
  }
}