.page-header {
  .container();
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #ececec;
  .clearfix();
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

.page-header__logo {
  margin-top: 21px;
  margin-bottom: 18px;
  text-align: center;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media @tablet-widths {
  .page-header {
    padding-left: 50px;
    flex-direction: row;
  }
  .page-header__logo a {
    display: block;
    text-align: left;
    margin-left: 0px;
    width: 113px;
    height: 46px;
    img {
      width: 113px;
      height: 46px;
    }
  }
}

@media @desktop-widths {
  .page-header {}
  .page-header__logo {
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
  .page-header__logo a {
    position: absolute;
    left: 50%;
    margin-left: -74px;
    top: 10px;
    z-index: 100;
    min-width: 149px;
    min-height: 72px;
    img {
      width: 149px;
      height: 72px;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }
}