.page-title {
  font-size: 27px;
  line-height: 30px;
  font-family: "open-sans-bold";
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  &--background {
    background-image: url(/img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
  }
}