.popup {
  display: none;
  width: 320px;
  height: 342px;
  position: fixed;
  z-index: 100;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &--open {
    display: block;
  }
}

.popup__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.popup__title {
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: #000;
}

.popup__sizes {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup__sizes-item {
  width: 78px;
  position: relative;
  margin-top: 20px;
  input[type="radio"] {
    display: none;
  }
  label {
    font-weight: 700;
    display: block;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 3px;
  }
  label::after {
    position: absolute;
    content: "";
    border: 2px solid #ececec;
    width: 78px;
    height: 48px;
    left: 0;
    top: 0;
  }
  input[type="radio"]:checked+label::after {
    border-color: #63d1bb
  }
}

.popup__btn {
  color: #fff;
  background-color: #63d1bb;
  border-color: #63d1bb;
  margin-top: 7px;
}

@media @tablet-widths {
  .popup__wrapper {
    padding-left: 108px;
    padding-right: 108px;
  }
  .popup {
    width: 566px;
  }
  .popup__title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
  .popup__sizes-item {
    width: 108px;
    label::after {
      position: absolute;
      content: "";
      border: 2px solid #ececec;
      width: 104px;
    }
  }
  .popup__sizes {}
}
