.pre-form-message {
  .container();
  font-size: 13px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 21px;
}

@media @tablet-widths {
  .pre-form-message {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 75px;
    margin-bottom: 47px;
  }
}
@media @desktop-widths{
  .pre-form-message{
    padding-left: 225px;
    margin-top: 147px;
    padding-right: 225px;
  }
}