.products__type {
  font-family: "open-sans-bold";
  font-size: 19px;
  color: #fff;
  a {
    text-decoration: none;
  }
  &--interior {
    background-color: #63d1bb;
  }
  &--toy {
    background-color: #56c3b2;
  }
}

.products__type-title {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
}