.product-card {
  border: 1px solid #ececec;
  a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: "open-sans-bold";
  }
  p {
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
  }
}

.product__price {
  font-size: 15px;
  font-family: "open-sans-bold";
  color: #000;
}

.product__cart {
  font-size: 0;
}