.product {
  margin-bottom: 30px;
}

.product__price {
  .font (@font-size: 15px, @font-weight: 700, @color: #000);
}

.product__cart {
  font-size: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.product__wrapper {
  .container();
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.product__image {
  width: 100%;
}

@media @tablet-widths {
  .product__wrapper {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .product {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .product__image-link {
    width: 50%;
    display: block;
  }
}

@media @desktop-widths {
  .product__wrapper{
    justify-content: space-between;
  }
  .product {
    width: 315px;
    flex-direction: column;
  }
}