.product-card {
  border: 1px solid #ececec;
  a {
    text-decoration: none;
    .font (@font-size: 17px, @line-height: 20px, @font-weight: 700, @color: #000);
  }
  p {
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
  }
}
