.product-card {
  border: 1px solid #ececec;
  margin-top: -6px;
  padding-left: 27px;
  padding-right: 27px;
  a:not(:last-of-type) {
    text-decoration: none;
    .font (@font-size: 17px, @line-height: 20px, @font-weight: 700, @color: #000);
  }
  p {
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
  }
}
@media @tablet-widths{
  .product-card{
    flex-basis: 50%;
  }
}
