.product-week__mark {
  font-family: "open-sans-bold";
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-week__chrc {
  border-collapse: collapse;
  td {
    border-bottom: 1px solid #ececec;
  }
}

.product-week__price {
  font-family: "open-sans-bold";
  font-size: 17px;
  text-align: center;
}