.products__type {
  .font (@font-size: 19px, @line-height: 20px, @font-weight: 700, @color: #fff);
  a {
    text-decoration: none;
  }
  &--interior {
    background-color: #63d1bb;
  }
  &--toy {
    background-color: #56c3b2;
  }
}

.products__type-title {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.products {
  .container();
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  margin-top: -18px;
}

@media @tablet-widths {
  .products {
    flex-direction: row;
  }
  .products__type {
    width: ~"calc(50% - 44px)";
    margin-left: 50px;
    margin-top: -95px;
    z-index: 10;
    &--toy {
      margin-left: 0;
    }
  }
  .products__type-title {
    padding-top: 20px;
    padding-left: 50px;
  }
}
