.title-section {
  .font (@font-size: 25px, @line-height: 30px, @font-weight: 700, @color: #000);
  &--small {
    font-size: 18px;
  }
  &--production {
    font-size: 17px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 24px;
  }
}

@media @tablet-widths {
  .title-section {
    .font(@font-size: 43px, @line-height: 50px, @font-weight: 700);
    &--about-us {
      width: 100%;
      box-sizing: border-box;
      padding-top: 50px;
      margin-bottom: 13px;
    }
    &--reviews {
      padding-top: 72px;
      margin-left: -4px;
    }
    &--contacts {
      padding-top: 10px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 47px;
        height: 81px;
        background-image: url(../img/icon-flag.svg);
        right: 0;
        top: -2px;
      }
    }
  }
}

@media @desktop-widths {
  .title-section {
    .font(@font-size: 53px, @line-height: 57px, @font-weight: 700);
    &--week {
      padding-top: 72px;
    }
    &--about-us {
      margin-top: 105px;
    }
    &--reviews {
      padding-top: 60px;
    }
    &--contacts {
      &::after {
        left: -114px;
        top: 0;
      }
    }
  }
}
